body {
    height: 3000px;
    padding-top: 70px;
}

.box-shaddow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .85),
    0 4px 8px 0 rgba(0, 0, 0, .85) ;
}

.background-none {
    background-color: transparent !important;
}

.icone {
    height: 100px;
}