body {
    padding-top: 70px;
}

.box-shaddow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .85),
    0 4px 8px 0 rgba(0, 0, 0, .85) ;
}

.background-none {
    background-color: transparent !important;
}

.icone {
    height: 100px;
}

#home-quote {
    background: url(../img/bg-quote.jpg) center center;
    background-size: cover;
}

@media (min-width: 767px) {
    #home-quote .display-4{
        font-size: 2.5rem;
    }/* reduzindo o tamanho da fonte do blockquote quando a tela for menor que 767 pixels */
    .fixed-top {
        position: relative;
    } /*  Fazendo a nav deixar de ser fixa quando a tela fica com menos de 768pixels de largura */
    /* body {
        padding:0px;
    }  zerando o padding do body quando a nav deixa de ser fixa */
} 

